numpy==1.17.3
certifi==2021.5.30
charset-normalizer==2.0.4
cycler==0.10.0
Cython==3.0.8
docopt==0.6.2
idna==3.6
imageio==2.9.0
iminuit==2.18.0
kiwisolver==1.3.2
mako==1.2
matplotlib==3.4.1
mock==4.0.3
nose==1.3
parameterized==0.8.1
Pillow==8.3.2
pipreqs==0.4.10
Pybind11==2.11
PyOpenGL
pyparsing==2.4.7
PyQt5==5.15.10
PyQt5-sip==12.13
pyrr==0.10
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
result==0.6.0
scipy==1.3.1
send2trash
six==1.16.0
urllib3==1.26.6
wheel==0.33.6
wget==3.2
yarg==0.1.9

